/* general*/
.container{
    width: 100% !important;
}

.CV_infinityPayAdm{
    padding-bottom: 10px;
}

.hide{
    display: none;
}

.progressbar {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
        url('../images/ajax-loader.gif')
        50% 50%
        no-repeat;
    text-align: 50%;
    vertical-align: 50%;
}
.legend{
    font-size: 15px !important;
}
/* Members */
.table-hover > tbody  > tr:nth-of-type(odd){
    background:aliceblue;
}
.table-hover > thead > tr {
    background: #337ab7;
}
.table-hover > thead > tr > th {
    color: white !important;
}
/* instructions page*/
li.instructions{
    font-size: 13px !important;
    line-height: 1.5  !important;
    margin: 0 0 5px 15px;
}
div.instructions{
    width: 90%;
    align-content: center;
}
.row-title{
    font-size: 16px !important;
    padding-top: 10px;
    padding-bottom: 5px;
}
.tab-content{
    background: #eee;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover  {
  background: #5b9dd9;
  color: #fff;
  border: 2px solid #5b9dd9;
}
.nav-tabs{
  border-bottom: 8px solid #5b9dd9;
}
.nav-tabs > li > a{
  border: 1px solid #5b9dd9;
  margin-right: 0px;
  border-radius: 0px;
}
.nav-tabs > li {
  margin-bottom: -3px;
}
.tab-content{
    background-color: #fff;
    border: 1px solid #5b9dd9;
    display: block;
    min-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: auto;
    padding: 2.5%;
}
.tab-pane{
    background-color: #fff;
}
/*Forms */
.wp-admin select{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px !important;
}
.form-group{
  position: relative;
  min-height: 75px;
}
.input-group{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 15px;
}
.space-15{
  margin: 15px;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px !important;
    margin-bottom: 10px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

/* card class */
.cc{
    position: relative;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    display: inline-block !important;
}

#card-wrapper{
  margin: auto;
  margin-bottom: 10px;
}
